@import '~vuetify/src/stylus/main'

box-shadow(args...)
    -webkit-box-shadow args
    box-shadow args

.theme--light.application
    background-color #fff

.container
    @media screen and (min-width: 1904px)
        max-width 1185px

.header
    border-top 1px solid rgba(0, 0, 0, 0.12)
    background-color #fff

    .container
        padding 0

.v-toolbar__items
    .v-btn
        font-size 16px
        border-radius 0

        &:not(.v-btn--active)
            color #757575

        &:before
            top auto
            bottom 0
            height 3px
            opacity 0.3

        &.v-btn--active
            color #0d47a1

            &:before
                opacity 1
                background-color #0d47a1

.v-btn
    margin 0
    text-transform none

.v-speed-dial,
.v-datatable__actions
    .v-btn
        margin 6px 8px

.v-pagination__item,
.v-pagination__navigation
    font-weight 500
    box-shadow none
    outline none

    &:not(.v-pagination__item--active)
        background-color #f5f5f5 !important
        color #757575 !important

.v-list
    padding 0

.v-list__tile
    &.v-list__tile--active
        .v-icon
            color #0d47a1

        .v-list__tile__title
            font-weight 500
