@import '~vuetify/src/stylus/main'

.theme--light.application
    background-color #fff

.container
    @media screen and (min-width: 1904px)
        max-width 1185px

.header
    background-color #fff

    .container
        padding 0

.v-toolbar__items
    .v-btn
        font-size 13px

        &:before
            top auto
            bottom 0
            height 3px
